*{
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 100px;
    font-size: 40px;
}
.caja{

    background:lightblue;
    margin: 25px;
    transition: background 0.5s, padding 0.5s;

}
.caja:focus{
    background: blue;
    padding: 20px;
}