*{
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 100px;
    font-size: 40px;
}
.caja{

    margin: 25px;
    width: 250px;
    height: 350px;
    border: 5px solid red;
    background-color: pink;
    cursor:pointer ;

}
.caja:active{
    cursor: copy;
}
