*{
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 100;
    font-size: 30px;
}

h2{
    background-color: rgb(122, 59, 59);
    display:inline-block;
    padding:100px ;
    box-sizing: border-box;
    text-align: center;
    margin: 10px 20px;
    border-radius:2em ;
    border: 10px solid blue ;
    border-color: #fff;
    box-shadow: 10px 10px 15px 5px   #000, 10px 10px 15px 5px   #000 ; 
    text-shadow: 4px 4px 5px #fff,4px 4px 5px #fff,4px 4px 5px #fff;
    transform: rotate(-30deg);

}

div{
    width: 120px;
    height: 120px;
    background: yellow ;
    display: block;

}
.caja1{
    background-color:green ;

}
.caja2{
    background-color: blueviolet;
    position: relative;
    top: 100px;
    left: 50px;
    z-index: 100;

 


}
.caja3{
    background-color:gray ;
    position:relative;
    z-index: 10;
 
}
    
.caja4{
    background-color: orange;
    position: static;
    top: 100px;
    left: 1000px;
    /*no se mueve nada position static*/

}