*{
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 100px;
    font-size: 40px;
}
form{
    margin: 100px auto;
    display: block;
    background-color: #555;
    padding: 100px;
    width: 50%;
}
b{
    padding: 6px;
    width: 100%;
}

b::before{
    content: "me suscribi";
    color:#fff;
}
b::after{
    content: "todo tendencia";
    color: red;
    
}